<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us | Capy Store</title>
    <link rel="stylesheet" href="about.css"> <!-- Link to your CSS file -->
</head>
<body>
<header>
    <nav class="site-nav">
        <a href="index.html">Home</a>
        <a href="products.html" class="active">Shop</a>
        <a href="Cart.html">Cart <span id="cartItemCount">0</span></a>
        <a href="about.html">About</a>
        <a href="login-register.html">Login/Register</a>
    </nav>

<main>
    <h1>Welcome to Cappy Store!</h1>
    <section>
        <p>Discover a treasure trove of clothing and jewelry at Capy Store, where every piece tells a story.</p>
    </section>
    <section>
        <p>At Cappy Store, we're driven by our passion for delivering quality and value to our customers.</p>
    </section>
    <section>
        <p>To enhance your shopping experience, we invite you to log in. This allows us to provide personalized recommendations just for you.</p>
    </section>
    <button id="shopNowBtn">Click Here to Shop Now</button>
</main>

<script src="about.js"></script> <script src="products.js"></script><script src="login-register.js"></script><script src="cart.js"></script>
</body>
</html>
